@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e78606;

}


.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
    border: none;
    border-radius: 10px;

}



img {
    width: 100%;
    border-radius: 10px;
}

button {
    width: 150px;
    height: 80px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    background-color: #3b3625;
    color: #3bff09;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 20px;
}

p {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

li {
    border: solid 5px #ffc70e;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.item-price {
    font-weight: 700;
    color: #ffffff;
}

.section-title {
    text-align: center;
    color: #111;
    margin: 30px 0 20px;
    font-size: 1.8rem;
}

.empty-message {
    grid-column: 1 / -1;
    text-align: center;
    padding: 60px 20px;
    font-size: 1.3rem;
    color: #333;
}

.total-card {
    grid-column: 1 / -1;
    background: #2c2300;
    color: #39ff14;
    padding: 40px 20px;
    border-radius: 16px;
    text-align: center;
    border: 5px solid #ffc70e;
}

.total-card h2 {
    margin-bottom: 16px;
    font-size: 1.8rem;
}

.total-price {
    font-size: 3rem;
    font-weight: 700;
    margin: 16px 0;
}